.header1{
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    background-color: black;
}
.block1{
    margin: 0;
    position: absolute;
    top: 130px;
    left: 180px;
    width: 650px;
    height: 500px;
    overflow: hidden;
}
.navigation2{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: #ddd;
    opacity: .7;
    border-radius: 10px;
    transition: all .4s ease;
}
.bar:hover{
    opacity: .8;
    transform: scale(1.1)
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.slide{
    width:25%;
    transition: all .6s ease;
}
.slide img {
    width: 100%;
    height: 100%    
}
#r1:checked ~ .first{
    margin-left: 0;
}
#r2:checked ~ .first{
    margin-left: -25%;
}
#r3:checked ~ .first{
    margin-left: -50%;
}
.name{
    position: absolute;
    top: 5px;
    left: 20px;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 25px;
    color: white;
}
.navigation1{
    margin: 0;
    position: absolute;
    top: 30px;
    right: 20px;
}
a{
    font-size: 20px;
    padding: 20px;
    color: white;
    text-decoration: none;
}
.block2{
    margin: 0;
    position: absolute;
    top: 130px;
    left: 850px;
    width: 400px;
    height: 240px;
}
.block3{
    margin: 0;
    position: absolute;
    top: 390px;
    left: 850px;
    width: 400px;
    height: 240px;
}
.text0{
    position: absolute;
    top: 5px;
    left: 150px;
    font-size: 40px;
    font-family: arial;
}
.block4{
    margin: 0;
    position: absolute;
    top: 680px;
    left: 0px;
    width: 100%;
    height: 550px;
    background-color: #e3e3e3;
}
.text1{
    font-size: 23px;
    font-family:colibr;
}
.podblock1{
    margin: 0;
    position: absolute;
    top: 120px;
    left: 200px;
    width: 300px;
    height: 250px;
}
.podblock2{
    position: absolute;
    margin: 0;
    top: 120px;
    left: 600px;
    width: 300px;
    height: 250px;
}
.podblock3{
    margin: 0;
    position: absolute;
    top: 120px;
    left: 1000px;
    width: 300px;
    height: 250px;
}
.knopka1{
    position: absolute;
    top: 400px;
    left: 600px;
    cursor:pointer;
    width: 200px;
    height: 50px;
    background-color: #e6c466;
    border: none;
    border-radius: 2px;
    transition: .3s;
}
.knopka1:hover{
    position: absolute;
    top: 390px;
    left: 590px;
    width: 220px;
    height: 70px;
}
.stroke1{
    margin: 0;
    position: absolute;
    top: 1250px;
    left: 600px;
    font-size: 40px;
    font-family: arial;
}
.block5{
    margin: 0;
    position: absolute;
    top: 1300px;
    left: 0;
    width: 100%;
    height: 1200px;
}
.zal1{
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    color: black;
    font-size: 25px;
}
.zal1:hover{
    text-decoration:underline;
}
.price{
    position: absolute;
    top: 10px;
    right: 40px;
    color: black;
    font-size: 25px;
}
.podblock5{
    margin: 0;
    position: absolute;
    top: 250px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-color: #ccc;
}
.img1{
    height: 250px;
}
.hall1{
    margin: 0;
    position: absolute;
    top: 15px;
    left: 150px;
    width: 300px;
    height: 350px;
}
.hall2{
    margin: 0;
    position: absolute;
    top: 15px;
    left: 600px;
    width: 300px;
    height: 350px;
}
.hall3{
    margin: 0;
    position: absolute;
    top: 15px;
    left: 1050px;
    width: 300px;
    height: 350px;
}
.hall4{
    margin: 0;
    position: absolute;
    top: 400px;
    left: 150px;
    width: 300px;
    height: 350px;
}
.hall5{
    margin: 0;
    position: absolute;
    top: 400px;
    left: 600px;
    width: 300px;
    height: 350px;
}
.hall6{
    margin: 0;
    position: absolute;
    top: 400px;
    left: 1050px;
    width: 300px;
    height: 350px;
}
.hall7{
    margin: 0;
    position: absolute;
    top: 790px;
    left: 150px;
    width: 300px;
    height: 350px;
}
.hall8{
    margin: 0;
    position: absolute;
    top: 790px;
    left: 600px;
    width: 300px;
    height: 350px;
}
.hall9{
    margin: 0;
    position: absolute;
    top: 790px;
    left: 1050px;
    width: 300px;
    height: 350px;
}
.block6{
    margin: 0;
    position: absolute;
    top: 2550px;
    left: 0px;
    width: 100%;
    height: 700px;
    background-color: #e3e3e3;
}
.podblock4{
    margin: 0;
    position: absolute;
    top: 50px;
    right: 100px;
    width: 600px;
    height: 400px;
}
.text2{
    position: absolute;
    top: 130px;
    left: 30px;
    font-family: arial;
    font-size: 20px;
}
.text3{
    position: absolute;
    top: 330px;
    left: 30px;
    font-family: arial;
    font-size: 20px;
}
.text4{
    position: absolute;
    top: 520px;
    left: 30px;
    font-family: arial;
    font-size: 20px;
}
.stroke2{
    margin: 0;
    position: absolute;
    top: 3300px;
    left: 250px;
    font-size: 40px;
    font-family: arial;
}
.block7{
    margin: 0;
    position: absolute;
    top: 3400px;
    left: 0px;
    width: 100%;
    height: 500px;
}
.foto1{
    position: absolute;
    top: 5px;
    left: 70px;
    width: 200px;
    height: 220px;
}
.foto2{
    position: absolute;
    top: 5px;
    left: 350px;
    width: 200px;
    height: 220px;
}
.foto3{
    position: absolute;
    top: 5px;
    left: 630px;
    width: 200px;
    height: 220px;
}
.foto4{
    position: absolute;
    top: 5px;
    left: 920px;
    width: 200px;
    height: 220px;
}
.foto5{
    position: absolute;
    top: 5px;
    left: 1200px;
    width: 200px;
    height: 220px;
}
.foto6{
    position: absolute;
    top: 250px;
    left: 70px;
    width: 200px;
    height: 220px;
}
.foto7{
    position: absolute;
    top: 250px;
    left: 350px;
    width: 200px;
    height: 220px;
}
.foto8{
    position: absolute;
    top: 250px;
    left: 630px;
    width: 200px;
    height: 220px;
}
.foto9{
    position: absolute;
    top: 250px;
    left: 920px;
    width: 200px;
    height: 220px;
}
.foto10{
    position: absolute;
    top: 250px;
    left: 1200px;
    width: 200px;
    height: 220px;
}
.block8{
    margin: 0;
    position: absolute;
    top: 4000px;
    left: 0px;
    width: 100%;
    height: 200px;
    background-color: #000;
}
.inf1{
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    font-family: arial;
    font-size: 25px;
}
.inf2{
    position: absolute;
    top: 50px;
    left: 10px;
    color: white;
    font-family: arial;
    font-size: 25px;
}
.inf3{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: arial;
    font-size: 25px;
}
.podblock6{
    margin: 0;
    position: absolute;
    top: 20px;
    left: 30px;
    width: 350px;
    height: 150px;
}
.podblock7{
    margin: 0;
    position: absolute;
    top: 20px;
    right: 150px;
    width: 350px;
    height: 150px;
}
